$yellow: #f2c10d;
$green: #83ae42;
$gray: #ccc;
$white: #fffdf2;

//$header-background: $green;
$header-background: $yellow;
$footer-background: $gray;
$background-color: $white;

$content-background: rgba(255, 253, 246, 0.8);

$logo_path: 'logo.png';
$logo: image-url($logo_path);
$logo-width: image-width($logo_path);
$logo-height: image-height($logo_path);

$header-font-weight: normal;
