// Global Foundation Settings
@import "settings";
@import "overrides";
// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

/* ===============================
 * Shared Styles
 * =============================== */
body {
  background: image-url('clean_textile.png') repeat $background-color;
}

p.small {
  font-size: emCalc(14px);
  font-style: italic;
}

.large-12.columns.content {
  background: $content-background;
  padding-bottom: 20px;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

.th {
  &.with-caption {
    margin-bottom: 5px;
  }
}

address {
  margin-bottom: 17px;
}

ul {
  &.large {
    li {
      line-height: 2.4em;
    }
    a {
      font-size: 1.2em;
    }
  }
  &.horizontal {
    list-style: none;
    li {
      display: inline-block;
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.utility-nav li a {
    font-size: 0.8em;
  }
}

.inline {
  margin-top: 10px;
  margin-bottom: 10px;
  &.right {
    margin-left: 10px;
  }
  &.left {
    margin-right: 10px;
  }
}

// Devise form errors
#error_explanation {
  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 0;
  }
}

/* ===============================
 * Header
 * =============================== */
header {
  background: $header-background;

  h1 a {
    display: block;
    width: $logo-width;
    height: $logo-height;
    background: $logo;
    text-indent: -9999px;
  }

  #site-nav {
    margin-bottom: 10px;
  }

  .social-nav {
    //margin-top: 10px;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
      a {
        width: 32px;
        height: 32px;
        display: block;
        text-indent: -9999px;
        &.facebook {
          background: image-url('social-icons/facebook.png');
        }
        &.twitter {
          background: image-url('social-icons/twitter.png');
        }
        &.youtube {
          background: image-url('social-icons/youtube.png');
        }
      }
    }
  }
}

/* ===============================
 * Footer
 * =============================== */
footer {
  background: $footer-background;
  color: darken($footer-background, 40%);
  position: static;
  bottom: 0;
}


footer p {
  margin: 10px 0;
  line-height: 50px;
}

footer small {
  font-size: 80%;
}

/* ===============================
 * Navigation
 * =============================== */
/* Using the available options */
.dark.button {
  @include button($button-sml, #4d4d4d, false, true, false, false);
  padding: 12px 0;
  font-weight: normal;

  &.active {
    background-color: darken(#4d4d4d, 10%);
  }

}

.nav-bar {
  .button-group.row {
    width: 100%;

    a.button {
      //border
      margin-bottom: 0;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) {
  nav {
    background: #4d4d4d;

    .nav-bar {
      margin-top: 0;
      margin-bottom: 0;
      li {
        text-align: center;
        width: 16.666666667%;
      }
    }
  }
}

/* ===============================
 * Articles
 * =============================== */
.entry {
  .meta {
    color: #aaa;
    font-size: 0.9em;
  }
}


/* ===============================
 * Home Page
 * =============================== */
#orbit {
  margin-bottom: 20px;
  // Custom Image captions
  .image {
    height: 400px;

    .caption {
      width: 25%;
      float: right;
      margin-right: 7%;
      padding: 10px;
      background-color: rgba(77,77,77,0.75);
      height: 100%;
      color: #fff;

      h3 {
        color: #fff;
        font-size: 1.3em;
      }
    }
  }
}
.features {
  .panel {
    height: 285px;
    h3 {
      font-size: 25px;
    }
    ul.latest_articles li {
      margin-bottom: 10px;
      //font-size: 0.95em;
    }
  }
}

.content-container {
  background: $content-background;
  .page-header {
    .button {
      margin-top: emCalc(10px);
    }
  }
}

.child-list {
  .child {
    border-bottom: 1px solid $footer-background;
    margin-bottom: emCalc(10px);

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
    .meta {
      font-size: emCalc(14px);
    }
  }
}

form .actions {
  margin-top: emCalc(10px);
}

form label small {
  font-size: emCalc(12px);
  text-transform: none;
}

form fieldset .field {
  margin-bottom: emCalc(10px);
}

.alert-box {
  line-height: emCalc(20px);
}
.alert-box.warning {
  @include alert($yellow);
}
